.product {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 5rem 0 15rem;
}
.productImage {
  position: relative;
  width: 100%;
}
.productContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productDescription H2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #231f20;
  font-weight: 700;
  margin-bottom: 1rem;
}
.productDescription p {
  font-size: 1.6rem;
  color: #231f20;
  font-weight: 100;
}
.productSize h2,
.addIngredients h2,
.quantity h2 {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #231f20;
  font-weight: 700;
  margin-top: 3rem;
}
.sizeContainer {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1rem;
}
.sizeImage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.sizeImage p {
  position: absolute;
  top: -10px;
  right: 15px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem 1.1rem;
  border-radius: 50%;
}
.ingredients {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px var(--color-primary) solid;
  border-radius: 0.3rem;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkMark {
  background-color: #edd9ba;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkMark {
  background-color: var(--color-primary);
}

/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.checkBoxContainer input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkMark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
.checkBoxLabel {
  position: absolute;
  font-size: 1.6rem;
  color: #231f20;
  font-weight: 100;
}

.counter {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.counterimage {
  opacity: 0.5;
}
.counternum p {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-primary);
}
.quantity input[type="number"] {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 0.3rem;
  padding: 1rem 1rem;
  outline: none;
}
.price {
  align-self: center;
}
.price h2 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 3rem;
}
.price span {
  color: var(--color-primary);
}

.rostobtn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 1rem 0rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-primary);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.rostobtn:hover {
  filter: brightness(90%);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}
.rostobtn:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 992px) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .productImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
