.product {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 5rem 0 15rem;
}
.productImage {
  position: relative;
  width: 100%;
}
.productContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productDescription H2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #231f20;
  font-weight: 700;
  margin-bottom: 1rem;
}
.productDescription p {
  font-size: 1.6rem;
  color: #231f20;
  font-weight: 100;
}
.productSize h2,
.quantity h2 {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #231f20;
  font-weight: 700;
  margin-top: 3rem;
}
.sizeContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.sizeImage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.sizeImage p {
  position: absolute;
  top: -10px;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem 1.1rem;
  border-radius: 50%;
}

.counter {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.counterimage {
  opacity: 0.5;
}
.counter img:hover {
  cursor: pointer;
}
.counternum p {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.price {
  align-self: center;
}
.price h2 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 3rem;
}
.price span {
  color: var(--color-primary);
}

.rostobtn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 1rem 0rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-primary);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.rostobtn:hover {
  filter: brightness(90%);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}
.rostobtn:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 992px) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .productImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sizeContainer {
    width: 70%;
  }
}
