.productcard {
  position: relative;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-primary);
}
.prodimg {
  position: relative;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}
.productcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.productcontent h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 1rem;
}
.description {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 4rem;
}
.price {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
.rostobtn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 0rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: var(--shadow-primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.rostobtn:hover {
  filter: brightness(90%);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}
.rostobtn:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
