.loginBg {
  background: url(./../public/images/svg/product-pattern.png);
  background-repeat: repeat;
}
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
